{% load static %}

<footer class="bg-dark text-center text-lg-start mt-auto">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase text-light">Hakkımızda</h5>
        <p class="text-light">
          Şirketiniz hakkında kısa bir açıklama veya slogan yazabilirsiniz.
        </p>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase text-light">İletişim</h5>
        <ul class="list-unstyled mb-0">
          <li><a href="mailto:baris@proton.me" class="text-light text-decoration-none text-hover">Email</a></li>
          <li><a href="tel:+1234567890" class="text-light text-decoration-none text-hover">Telefon</a></li>
          <li><a href="https://goo.gl/maps/example" class="text-light text-decoration-none text-hover">Adres</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase text-light">Kategoriler</h5>
        <ul class="list-unstyled mb-0">
          {% for kategori in categories %}
          <li><a href="{% url 'catalog:category' kategori.slug %}" class="text-light text-decoration-none text-hover">{{ kategori.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="text-center p-3 bg-dark">
    <a href="https://www.instagram.com/bariscemant/" class="text-light text-decoration-none text-hover">
      <strong class="animated-text">Made with ❤️ by the Baris</strong>
    </a>
  </div>
</footer>