{% load static %}

<div class="bg-light">
    <div class="container text-black text-center py-2">
      <div class="row align-items-center text-muted small">
  
        <div class="col-md-4 d-flex align-items-center justify-content-center">
          <img 
            src="{% static 'img/shield-check.webp' %}"
            alt="GÜVENLİ ALIŞVERİŞ, SHOPIER İLE ÖDEME!" 
            width="16" 
            height="16" 
            class="me-2">
          <div>
            <strong>GÜVENLİ ALIŞVERİŞ</strong> - SHOPIER İLE ÖDEME!
          </div>
        </div>
  
        <div class="col-md-4 d-flex align-items-center justify-content-center">
          <img 
            src="{% static 'img/truck.webp' %}"
            alt="3 GÜN İÇİNDE KARGO" 
            title="3 GÜN İÇİNDE KARGO"
            width="16" 
            height="16" 
            class="me-2">
          <div>
            <strong>3 GÜN İÇİNDE KARGO</strong>
          </div>
        </div>
  
        <div class="col-md-4 d-flex align-items-center justify-content-center">
          <img 
            src="{% static 'img/emoji-smile.webp' %}" 
            alt="ÜCRETSİZ KARGO, 1000 TL ÜZERİ SİPARİŞLERDE" 
            title="ÜCRETSİZ KARGO, 1000 TL ÜZERİ SİPARİŞLERDE"
            width="16" 
            height="16" 
            class="me-2">
          <div>
            <strong>ÜCRETSİZ KARGO</strong> - 1000 TL ÜZERİ SİPARİŞLERDE
          </div>
        </div>
  
      </div>
    </div>
  </div>