{% load static %}

<div name="navBar">
  <nav class="navbar navbar-expand-lg bg-light">

      <div class="container">
    
        <div class="d-flex justify-content-center align-items-center w-100">
    
          <a class="navbar-brand fw-bold mx-4" href="{% url 'catalog:index' %}" style="color: #223993; white-space: nowrap;">
            <span style="color: black;">ecommerce</span>
          </a>
    
          <form class="d-flex flex-grow-1 mx-4" role="search" style="max-width: 500px;" action="{% url 'catalog:index' %}">
            <div class="input-group">
              <input class="form-control" type="search" placeholder="150+'den fazla üründen ara" aria-label="Search" name="search">
              <button class="btn btn-secondary" type="submit">ARA</button>
            </div>
          </form>
    
          <ul class="navbar-nav flex-row align-items-center mx-4">
            <li class="nav-item dropdown me-4">
              <a class="nav-link dropdown-toggle text-hover" href="{% if user.is_authenticated %}{% url 'user:account' %}{% else %}{% url 'user:login' %}{% endif %}" id="navbarDropdownMenuLink" role="button" aria-expanded="false">
                  HESAP
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  {% if user.is_authenticated %}
                      <li><a class="dropdown-item text-hover" href="{% url 'user:adress' %}">Adres</a></li>
                      <li><a class="dropdown-item text-hover" href="{% url 'user:orders' %}">Siparişler</a></li>
                      <li><a class="dropdown-item text-danger" href="{% url 'user:logout' %}">Çıkış Yap</a></li>
                  {% else %}
                      <li><a class="dropdown-item text-hover" href="{% url 'user:login' %}">Üye Girişi</a></li>
                      <li><a class="dropdown-item text-hover" href="{% url 'user:register' %}">Kayıt Ol</a></li>
                  {% endif %}
              </ul>
            </li>
    
            <li class="nav-item">
              <a class="nav-link position-relative" href="#" data-bs-toggle="offcanvas" data-bs-target="#cartOffcanvas">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 
                  3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4"></path>
                </svg>
                {% if cart_items.count > 0 %}
                  <span class="position-absolute top-2 start-100 translate-middle badge rounded-pill bg-danger">
                    {{ cart_items.count }}
                  </span>
                {% endif %}
              </a>
            </li>

          </ul>
        </div>
      </div>
  </nav>

</div>


{% block js %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{% endblock %}