{% extends 'base-account.html' %}
{% load static %}

{% block account %}

<div class="col-md-9">
    <div class="bg-white p-4 rounded shadow-sm">
      <div class="mb-4 d-flex justify-content-between align-items-center">
        <div class="fw-semibold fs-4">Hesap Bilgilerim</div>
      </div>
      <div class="col-12 col-md-8">
        <form class="row g-3">

          <div class="col-md-6">
            <label class="form-label fw-medium">Ad</label>
            <input type="text" class="form-control bg-light" disabled="" value="{{ user.name }}" style="height: 50px;">
          </div>

          <div class="col-md-6">
            <label class="form-label fw-medium">Soyad</label>
            <input type="text" class="form-control bg-light" disabled="" value="{{ user.surname }}" style="height: 50px;">
          </div>

          <div class="col-12">
            <label class="form-label fw-medium">Email</label>
            <input type="email" class="form-control bg-light" disabled="" value="{{ user.email }}" style="height: 50px;">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}