{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'partials/_categories.html' %}


<div class="container-fluid vh-100 d-flex justify-content-center align-items-center bg-light">
    <div class="card p-4 shadow" style="max-width: 400px; width: 100%; border-radius: 10px;">

        <div class="d-flex justify-content-center border-bottom pb-3 mb-4">
            <a href="{% url 'user:login' %}" class="text-decoration-none text-secondary mx-2">Giriş Yap</a>
            <a href="{% url 'user:register' %}" class="text-decoration-none text-dark fw-bold mx-2 border-bottom border-primary">Üye Ol</a>
          </div>

          <form method="post">
            {% csrf_token %}
            <div data-mdb-input-init class="form-outline mb-4">
                {{ form.name.label_tag }}
                {{ form.name }}
            </div>
            <div data-mdb-input-init class="form-outline mb-4">
                {{ form.surname.label_tag }}
                {{ form.surname }}
            </div>
            <div data-mdb-input-init class="form-outline mb-4">
                {{ form.email.label_tag }}
                {{ form.email }}
            </div>
            <div data-mdb-input-init class="form-outline mb-4">
                {{ form.password1.label_tag }}
                {{ form.password1 }}
            </div>
            <div data-mdb-input-init class="form-outline mb-4">
                {{ form.password2.label_tag }}
                {{ form.password2 }}
            </div>
            <div class="form-check d-flex justify-content-center mb-4">
                <input class="form-check-input me-2" type="checkbox" value="" name="registerCheck" checked aria-describedby="registerCheckHelpText" />
                <label class="form-check-label" for="registerCheck">
                    <a href="https://www.termsfeed.com/live/e04a7dfe-4930-4493-98fe-62707ae4fefb" class="text-primary text-decoration-none">Şartları</a> okudum ve kabul ediyorum.
                </label>
            </div>
            <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-3">Kayıt Ol</button>
        </form>
      
      <div class="mt-3 text-center ">
        <p>Hesabınız var mı? <a href="{% url 'user:login' %}" class="text-primary text-decoration-none">Giriş Yap</a></p>
    </div>
    </div>
  </div>
  

{% endblock %}