{% extends 'base.html' %}
{% load static %}

{% block title %} {{ product.name }} {% endblock %}

{% block content %}

{% include 'partials/_categories.html' %}
{% include 'partials/_info-bar.html' %}

<div class="container my-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'catalog:index' %}">Anasayfa</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'catalog:category' product.category.slug %}">{{ product.category.name }}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
        </ol>
    </nav>

    <div class="row my-2 mt-2">
        <div class="col-md-6">
            <div class="product-img mb-3">
                <img id="main-product-image" src="{{ product.image.url }}" alt="Main Product Image" class="main-image">
            </div>
              
            <div class="d-flex justify-content-center">
                <img src="{{ product.image.url }}" class="thumbnail me-2 product-image-frame thumbnail-image active-thumbnail" alt="Ürün Resmi" style="width:100px; height:100px;">
                {% for image in product.images.all %}
                  <img src="{{ image.image.url }}" class="thumbnail me-2 product-image-frame thumbnail-image" alt="Ürün Resmi" style="width:100px; height:100px;">
                {% endfor %}
            </div>
        </div>

        <div class="col-md-6">
            <div class="product-header">
              <p class="rating mb-2 d-flex align-items-center gap-1">
                <span class="stars text-warning">★★★★★</span>
                <span class="text-warning">({{ product.reviews }} Yorum)</span>
              </p>
              <h3 class="product-title mb-2">{{ product.name }}</h3>
              <h2 class="mini-desc text-muted">{{ product.mini_desc }}</h2>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h3 class="display-6 fw-bold mb-0">{{ product.price}} TL</h3>
            </div>

            <div class="mb-3">
                {% if user.is_authenticated %}
                <div class="d-flex gap-3">
                    <div class="input-group" style="width: 120px;">
                        <input type="number" class="form-control text-center" value="1"
                               min="1" max="{{ product.quantity }}" step="1">
                    </div>
                    <form id="add-to-cart-form" method="post" action="{% url 'order:add_to_cart' product.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">
                            <i class="bi bi-cart"></i> SEPETE EKLE
                        </button>
                    </form>
                {% else %}
                <div class="d-flex gap-3">
                    <form method="get" action="{% url 'user:login' %}">
                        <button type="submit" class="btn btn-primary">
                            <i class="bi bi-cart"></i> SATIN ALMAK İÇİN GİRİŞ YAP
                        </button>
                    </form>
                {% endif %}
                </div>
            </div>

            <div class="mt-4">
                <p><strong>Ürün Açıklaması:</strong></p>
                <p>{{ product.description }}</p>
            </div>
        </div>
    </div>
</div>

{% include 'partials/_best_sellers.html' %}

{% endblock %}

{% block js %}
<script>
    document.querySelectorAll('.thumbnail').forEach(thumbnail => {
        thumbnail.addEventListener('click', function () {
            const mainImage = document.getElementById('main-product-image');
            mainImage.src = this.src;
    
            document.querySelectorAll('.thumbnail').forEach(thumb => {
                thumb.classList.remove('active-thumbnail');
            });
    
            this.classList.add('active-thumbnail');
        });
    });
    
    
    document.getElementById('add-to-cart-form').addEventListener('submit', function(e) {
        e.preventDefault();
    
        const url = this.action;
        const formData = new FormData(this);
    
        fetch(url, {
            method: 'POST',
            headers: { 'X-Requested-With': 'XMLHttpRequest' },
            body: formData
        })
        .then(res => {
            if (res.status === 400) {
                location.reload();
            }
            return res.json();
        })
        .then(data => {
            if (data.status === 'success') {
                document.getElementById('cart-content').innerHTML = data.cart_html;
                let offcanvas = new bootstrap.Offcanvas(document.getElementById('cartOffcanvas'));
                offcanvas.show();
            }
        })
        .catch(console.error);
    });
    
    </script>
{% endblock %}